//Text color
//heading color
$text-primary-color:#ffffff; 

//over all text color except heading
$text-secondary-color:#3e3636;


//Background colors
//card's background color
$searchBar-background-color:#005aa7;
$card-background-color:#f5eded;
// $primary-background-color:#f5eded;
// $secondary-background-color:#d72323;
// $tertiary-background-color:#3e3636;
