.search-bar {
  & input {
    width: 40%;
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
    border-style: none;
    background-color: $text-secondary-color;
    color: $text-primary-color;
    transition: all 5000s ease-in-out 0s;
    &:focus {
      outline: none;
    }

    @media only screen and (max-width:50em){
      width:100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    & img {
      height: 2rem;
      width: auto;
      position: relative;
      top: -1rem;
      right: 2.6rem;
      cursor: pointer;
    }
    display: contents;
  }
}
