@import './utility/Mixin.scss';
@import './utility/Variable.scss';
@import './utility/animations.scss';

@import './includes.scss';
*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:62.5%; // percent=10px/16px *100 i.e. 62.5%,1rem =10px;

}
body{
    font-family:'B612',sans-serif;
    font-weight:400;
    line-height:1.7;
    font-size:1.6rem;
    padding:2rem;
    

    color:$text-primary-color;
    // background-color:black;/**************************************************************************************/

    
    background-image: linear-gradient(to right bottom, rgba(0, 90, 167,0.4) 25%, rgba(255, 253, 228,0.5)), url(./assets/bg_img-1.jpg);    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:100vh;
    max-width:100vw;
}



